html, body {

    font-family : "Josefin Sans", sans-serif;
}
.categories--head {
    h2 {
        font-size : 18px;    
        text-transform : uppercase;
    }

}
.category-seperation {border-right: 1px solid #d7d7d7; }
